# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# VS Code
.vscode/

# Outputs
outputs/

# Jupyter
.ipynb_checkpoints/

# Data (optional: uncomment if you don’t want dataset on GitHub)
# data/*.csv
